<div class="content">
    <section class="divProducto">
        <div class="divImage">
            <div class="image">
                <img src="https://material.angular.dev/assets/img/examples/shiba2.jpg" >
            </div>
        </div>
        <div class="detProducto">
            <div class="nombreProducto">
                <h4>Nombre del producto</h4>
            </div>
            <p>Categoria: Pizza</p>
        </div>
        <div class="divCantidadPrecio">
            <div class="cantidad">
                <button matButton="filled">+</button>
                <p>1</p>
                <button matButton="filled">-</button>
            </div>
            <div class="precio">
                <p>$ 100.000,00</p>
            </div>
        </div>
        
    </section>
    <section class="divResumenPedido">
        <div class="resumenPedido">
            <div class="resumenTitulo">
                <h4>Resumen del pedido</h4>
            </div>
            <div class="resumenTotal">
                <h4>Total:</h4>
                <p>$ 100.000,00</p>
            </div>
        </div>
        <div class="divBotonContinuar">
            <button matButton="filled">Continuar</button>
        </div>
    </section>
</div>
