<div>
    <div *ngIf="loading">Cargando producto...</div>
    <div *ngIf="error" class="mb-4 mt-3">
        <mat-card appearance="outlined" class="bg-white">
            <mat-card-header class="flex-column aling-items-center">
                <p class="icon-no-product"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 7em; margin-right: auto; margin-left: auto; display: block;"><defs></defs> <path d="M447 214l-191-64-191 64L0 317l60 20v110l196 65 196-65V337l60-20zm-58 12l-133 44-133-44 133-44zM46 301l35-57 152 50-36 57zm44 46l120 40 31-49v137L90 425zm181 128V338l31 49 120-40v78zm44-124l-36-57 152-50 35 57zM241 0h30v100h-30zM100 46l26-15 50 87-26 15zM336 118l50-87 26 15-50 87z"></path></svg></p>
                <p class="no-product">PRODUCTO NO DISPONIBLE</p>
            </mat-card-header>
        </mat-card>
    </div>

    <mat-card *ngIf="producto && !loading && !error" class="d-flex flex-sm-column flex-md-row bg-body mt-2 mb-4" appearance="outlined">
        <div class="w-100 w-md-50">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <!--
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                -->
                <button *ngFor="let img of imagenes; let i = index"
                    type="button"
                    [class.active]="i === 0"
                    [attr.data-bs-slide-to]="i"
                    data-bs-target="#carouselExampleIndicators"
                    [attr.aria-label]="'Slide ' + (i + 1)">
                </button>
            </div>
            <div class="carousel-inner">
                <!--
                <div class="carousel-item active">
                <img src="https://cdn.pixabay.com/photo/2017/12/05/20/08/pizza-3000273_1280.jpg" class="d-block w-100" alt="...">
                </div>-->
                <div *ngFor="let img of imagenes; let i = index" [class]="i === 0 ? 'carousel-item active' : 'carousel-item'">
                    <img [src]="img" class="d-block w-100" [alt]="'img' + (i)">
                </div>
            </div>
            <!--
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>-->
            </div>
        </div>
        <div class="w-100 w-md-50 p-3">
            <mat-card-title class="mb-2">{{ producto.nombre }}</mat-card-title>
            <mat-card-subtitle class="mb-2 text-success">$ {{ producto.precio | number:'1.2-2' }}</mat-card-subtitle>
            <div class="icon-star">
                <mat-icon class="text-warning" aria-hidden="false" aria-label="Estrella" fontIcon="star"></mat-icon>
                <mat-icon class="text-warning" aria-hidden="false" aria-label="Estrella" fontIcon="star"></mat-icon>
                <mat-icon class="text-warning" aria-hidden="false" aria-label="Estrella" fontIcon="star"></mat-icon>
                <mat-icon class="text-warning" aria-hidden="false" aria-label="Estrella" fontIcon="star"></mat-icon>
                <mat-icon class="text-warning" aria-hidden="false" aria-label="Estrella" fontIcon="star"></mat-icon>
            </div>
            <mat-card-subtitle class="mb-2">
                Categoría: {{ producto.categoria?.nombre || 'Sin categoría' }}
            </mat-card-subtitle>
            <mat-card-content class="p-0">
                <mat-card-subtitle>Descripción</mat-card-subtitle>
                <p>{{ producto.descripcion }}</p>
            </mat-card-content>
            <mat-card-actions class="p-0 mt-3">
                <!--
                <a class="btn btn-primary" role="button" [attr.href]="producto.mercadoPagoLink" target="_blank">
                    COMPRAR AHORA</a>-->
                <button mat-raised-button color="primary" (click)="agregarAlCarrito()">Agregar al carrito</button>
            </mat-card-actions>
        </div>
    </mat-card>


</div>
