<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div>
      <img src="Logo.jpg" alt="logo" height="40" class="me-2" />
      <span class="navbar-brand">Fast Delivery</span>
    </div>

    <form class="d-flex">
      <mat-form-field appearance="outline">
        <mat-label>Buscar...</mat-label>
        <input matInput type="search" />
        <button mat-icon-button matSuffix>
          <mat-icon fontIcon="search"></mat-icon>
        </button>
      </mat-form-field>
    </form>

    <div>
      <button mat-stroked-button class="me-2">Iniciar sesión</button>
      <button mat-flat-button color="primary">Registrarse</button>
    </div>
  </div>
</nav>
